<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{hello.welcomeMessage}">HomePage</title>
</head>
<body>
    <h1 th:text="#{hello.welcomeMessage}">Hello Header</h1>
    <ul>
        <li><a th:href="@{/if}" th:text="#{if.title}">text 1</a> </li>
        <li><a th:href="@{/loop}" th:text="#{loop.title}">text 2</a></li>
    </ul>

    <h2>Form example</h2>
    <p th:if="${message}" th:text="${message}">This will show if book was added</p>
    <form action="#" method="post" th:action="@{/bookadd}"
          th:object="${book}">
        <input type="text" th:field="*{author}"/><br>
        <input type="text" th:field="*{title}"/><br>
        <input type="number" step="0.01" min="0" th:field="*{price}"/><br>
        <input type="submit" value="Send"/>

    </form>

</body>
</html>